@use "../abstracts/variables.scss" as *;
@use "../abstracts/functions.scss" as globalFunctions;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

svg {
  flex-shrink: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  resize: vertical;
}

body {
  font-family: $font-family;
  font-weight: 400;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  background: #fff;
  color: #000;
}

.container {
  max-width: 1800px;
  width: 100%;
  padding-inline: globalFunctions.fluidValue(20px, 202px, 320px, 1800px);
  margin: 0 auto;
}

::view-transition-old(root) {
  animation: fade-out 0.25s ease-in-out forwards;
}
::view-transition-new(root) {
  animation: fade-in 0.25s ease-in-out forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
