.socialGroup {
  display: flex;
  flex-direction: row;
  gap: globalFunctions.fluidValue(10px, 32px, 320px, 1800px);
  width: 100%;
  margin-bottom: 40px;

  @include globalMixins.max-width(laptop) {
    flex-direction: column;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 100%;
    height: 65px;
    padding: 0 16px;
    border-radius: 12px;
    background: #faf8f6;
  }

  &__text {
    font-family: globalVariables.$second-family;
    font-weight: 500;
    font-size: globalFunctions.fluidValue(16px, 20px, 320px, 1800px);
    text-align: center;
    width: 124px;
  }
}
