.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: 1px solid globalVariables.$main-orange;
  background: globalVariables.$main-orange;
  font-family: globalVariables.$second-family;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  text-align: center;
  height: 65px;
  width: 444px;
  transition: all 0.4s ease-in-out;

  @include globalMixins.hover {
    background: darken(#ff844e, 8%);
  }
}
