.bannerMain {
  position: relative;
  border-radius: 24px;
  padding: 94px 70px;
  width: 100%;
  max-width: 1396px;
  height: 472px;
  overflow-x: clip;
  @include globalMixins.max-width(laptop) {
    border-radius: 0;
    padding: 30px 20px;
    height: 464px;
  }

  &--quiz {
    background: #8172dd;

    .bannerMain__imgWrapper {
      right: -110px;
      top: -237px;
      @include globalMixins.max-width(laptop) {
        left: 300px;
        top: 15px;
        margin-bottom: 15px;
        img {
          width: 347px;
          height: 145px;
        }
      }
      @include globalMixins.max-width(tablet) {
        left: 180px;
      }
      @include globalMixins.max-width(mobile) {
        left: 0;
      }
      @include globalMixins.max-width(mobile-small) {
        left: -42px;
      }
    }

    .bannerMain__content {
      @include globalMixins.max-width(laptop) {
        margin-top: 165px;
      }
    }
  }

  &--vitamins {
    background: globalVariables.$goods-purple;
    padding: 73px 70px;
    @include globalMixins.max-width(laptop) {
      height: 521px;
      padding: 30px 20px;
    }

    .bannerMain__imgWrapper {
      right: 0;
      top: 0;
      @include globalMixins.max-width(laptop) {
        right: 385px;
        top: 20px;
        img {
          width: 238px;
          height: 220px;
        }
      }
      @include globalMixins.max-width(tablet) {
        right: 265px;
      }

      @include globalMixins.max-width(mobile) {
        right: 43px;
        top: 20px;
      }
    }
    .bannerMain__content {
      @include globalMixins.max-width(laptop) {
        margin-top: 230px;
      }
    }
  }

  &--painRelief {
    background: globalVariables.$goods-blue-text;
    padding: 105px 70px;
    @include globalMixins.max-width(laptop) {
      height: 492px;
      padding: 30px 20px;
    }

    .bannerMain__imgWrapper {
      right: 0;
      top: 0;
      @include globalMixins.max-width(laptop) {
        right: 385px;
        top: 20px;
        img {
          width: 238px;
          height: 220px;
        }
      }
      @include globalMixins.max-width(tablet) {
        right: 265px;
      }
      @include globalMixins.max-width(mobile) {
        right: 43px;
      }
    }

    .bannerMain__content {
      @include globalMixins.max-width(laptop) {
        margin-top: 230px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    @include globalMixins.max-width(laptop) {
      justify-content: center;
      align-items: center;
    }
  }

  &__label {
    font-family: globalVariables.$second-family;
    font-weight: 400;
    font-size: globalFunctions.fluidValue(16px, 20px, 320px, 1800px);
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: globalFunctions.fluidValue(10px, 15px, 320px, 1800px);
  }

  &__title {
    font-family: globalVariables.$second-family;
    font-weight: 500;
    font-size: globalFunctions.fluidValue(24px, 50px, 320px, 1800px);
    color: #fff;
    margin-bottom: globalFunctions.fluidValue(15px, 20px, 320px, 1800px);
    width: 100%;
    max-width: 660px;
    @include globalMixins.max-width(laptop) {
      text-align: center;
    }
  }

  &__subTitle {
    font-size: globalFunctions.fluidValue(14px, 18px, 320px, 1800px);
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: globalFunctions.fluidValue(20px, 30px, 320px, 1800px);
    width: 100%;
    max-width: 425px;
    @include globalMixins.max-width(laptop) {
      text-align: center;
    }
  }

  &__link {
    border-radius: 100px;
    background: #fff;
    font-family: globalVariables.$second-family;
    font-weight: 700;
    font-size: globalFunctions.fluidValue(16px, 20px, 320px, 1800px);
    text-align: center;
    width: globalFunctions.fluidValue(154px, 255px, 320px, 1800px);
    padding: 20px 0;
    @include globalMixins.max-width(laptop) {
      padding: 15px 0;
    }
  }

  &__imgWrapper {
    position: absolute;
    // @include globalMixins.max-width(laptop) {
    //   position: static;
    // }
  }
}

// @include globalMixins.max-width(tablet) {
//   flex-direction: column-reverse;
//   padding: 32px 20px;
//   max-height: none;
//   text-align: center;

//   &__content {
//     align-items: center;
//   }

//   &__title,
//   &__subTitle {
//     max-width: 100%;
//   }

//   &__imgWrapper {
//     position: static;
//     margin-bottom: 24px;
//     right: auto;
//     top: auto;

//     img {
//       max-height: 180px;
//       width: auto;
//       margin: 0 auto;
//     }
//   }

//   &__circleDecoration {
//     display: none;
//   }
// }
