:global {
  .category--vitamins {
    color: globalVariables.$goods-purple-text;
  }
  .category--minerals {
    color: globalVariables.$goods-mint-text;
  }
  .category--prenatal-vitamins {
    color: globalVariables.$goods-pink-text;
  }
  .category--pain {
    color: globalVariables.$goods-blue-text;
  }
  .category--antioxidants {
    color: globalVariables.$goods-orange-text;
  }
  .category--loss {
    color: globalVariables.$goods-green-text;
  }
  .category--probiotics {
    color: globalVariables.$goods-red-text;
  }

  .category-bg--vitamins {
    background-color: globalVariables.$goods-purple;
  }
  .category-bg--minerals {
    background-color: globalVariables.$goods-mint;
  }
  .category-bg--prenatal-vitamins {
    background-color: globalVariables.$goods-pink;
  }
  .category-bg--pain {
    background-color: globalVariables.$goods-blue;
  }
  .category-bg--antioxidants {
    background-color: globalVariables.$goods-orange;
  }
  .category-bg--loss {
    background-color: globalVariables.$goods-green;
  }
  .category-bg--probiotics {
    background-color: globalVariables.$goods-red;
  }
}
