.card {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;

  &__category {
    font-weight: 600;
    font-size: globalFunctions.fluidValue(12px, 14px, 320px, 1800px);
  }

  &__name {
    font-family: globalVariables.$second-family;
  }

  &--slider {
    padding: 62px 30px 40px;
    display: flex;
    flex-direction: column;
    width: globalFunctions.fluidValue(280px, 400px, 320px, 1800px);
    height: globalFunctions.fluidValue(367px, 494px, 320px, 1800px);

    @include globalMixins.max-width(laptop) {
      padding: 30px 20px 20px;
    }

    .card__category {
      color: #fff;
      opacity: 0.5;
      margin-bottom: globalFunctions.fluidValue(10px, 12px, 320px, 1800px);
      margin-top: auto;
    }

    .card__name {
      font-weight: 500;
      font-size: globalFunctions.fluidValue(18px, 24px, 320px, 1800px);
      color: #fff;
      margin-bottom: globalFunctions.fluidValue(15px, 20px, 320px, 1800px);
    }

    .card__title {
      font-size: globalFunctions.fluidValue(14px, 16px, 320px, 1800px);
      line-height: 1.63;
      color: #fff;
      opacity: 0.7;
    }
  }

  &--catalog {
    background-color: #faf8f6;
    padding: 62px 30px 30px;

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    }
  }

  &--pack {
    background: #fff;
    padding: 40px 30px 30px;
    @include globalMixins.max-width(tablet) {
      padding: 30px 20px 20px;
    }

    .card__category {
      margin-bottom: globalFunctions.fluidValue(10px, 12px, 320px, 1800px);
    }

    .card__name {
      font-size: globalFunctions.fluidValue(16px, 20px, 320px, 1800px);
      margin-bottom: 15px;
    }

    .card__defaultPrice {
      font-size: globalFunctions.fluidValue(16px, 20px, 320px, 1800px);
      @include globalMixins.max-width(tablet) {
        font-weight: 700;
      }
    }
  }

  &__imageWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__discountBadge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: globalVariables.$red;
    color: #ffffff;
    padding: 5px 11px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 12px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__priceBlock {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: auto;
    font-size: 20px;
    font-weight: 600;

    .card__defaultPrice {
      font-size: 20px;
      font-weight: 600;
    }

    .card__oldPrice {
      text-decoration: line-through;
      font-weight: 600;
    }

    .card__currentPriceWithDiscount {
      color: #d93838;
    }
  }
}

:global {
  .category--vitamins {
    color: globalVariables.$goods-purple-text;
  }
  .category--minerals {
    color: globalVariables.$goods-mint-text;
  }
  .category--prenatal-vitamins {
    color: globalVariables.$goods-pink-text;
  }
  .category--pain {
    color: globalVariables.$goods-blue-text;
  }
  .category--antioxidants {
    color: globalVariables.$goods-orange-text;
  }
  .category--loss {
    color: globalVariables.$goods-green-text;
  }
  .category--probiotics {
    color: globalVariables.$goods-red-text;
  }

  .category-bg--vitamins {
    background-color: globalVariables.$goods-purple;
  }
  .category-bg--minerals {
    background-color: globalVariables.$goods-mint;
  }
  .category-bg--prenatal-vitamins {
    background-color: globalVariables.$goods-pink;
  }
  .category-bg--pain {
    background-color: globalVariables.$goods-blue;
  }
  .category-bg--antioxidants {
    background-color: globalVariables.$goods-orange;
  }
  .category-bg--loss {
    background-color: globalVariables.$goods-green;
  }
  .category-bg--probiotics {
    background-color: globalVariables.$goods-red;
  }
}
