.field {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__input {
    height: 56px;
    width: globalFunctions.fluidValue(280px, 444px, 320px, 1800px);
    padding: 0 24px;
    border: 1px solid #faf8f6;
    background: #faf8f6;
    border-radius: 12px;
    outline: none;
    font-family: globalVariables.$font-family;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    transition: all 0.4s ease-in-out;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0px 1000px #faf8f6 inset !important;
      -webkit-text-fill-color: #000000 !important;
      transition: background-color 5000s ease-in-out 0s;
    }

    &::placeholder {
      color: #000;
      font-family: globalVariables.$font-family;
      font-weight: 400;
      font-size: 18px;
      opacity: 0.3;
    }
  }

  &__inputError {
    border-color: globalVariables.$main-orange;
  }

  &__error {
    font-size: 12px;
    color: globalVariables.$main-orange;

    margin-top: 4px;
    padding-left: 4px;
    min-height: 17px;
    visibility: visible;
    opacity: 1;
    transition:
      opacity 0.4s ease-in-out,
      visibility 0.4s ease-in-out;

    &_hidden {
      visibility: hidden;
      opacity: 0;
    }
  }
}
