.overview {
  width: 100%;
  max-width: 920px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: globalFunctions.fluidValue(30px, 40px, 320px, 1800px);

    @include globalMixins.max-width(laptop) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__title {
    font-family: globalVariables.$second-family;
    font-weight: 500;
    font-size: globalFunctions.fluidValue(24px, 36px, 320px, 1800px);
  }

  &__role {
    font-family: globalVariables.$second-family;
    font-weight: 500;
    font-size: globalFunctions.fluidValue(18px, 22px, 320px, 1800px);
  }

  &__form {
    width: 100%;
  }

  &__submitBtn {
    width: globalFunctions.fluidValue(280px, 154px, 320px, 1800px);
    height: 50px;
    font-size: 16px;
    background-color: #c3bdb6;
    border: none;
    margin-top: globalFunctions.fluidValue(35px, 40px, 320px, 1800px);
    transition:
      background-color 0.4s ease,
      opacity 0.4s ease;

    &_active {
      background-color: globalVariables.$main-orange;

      &:hover:not(:disabled) {
        background-color: globalVariables.$main-orange;
      }
    }
  }
}
