.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: globalFunctions.fluidValue(55px, 50px, 320px, 1920px);
  padding-top: globalFunctions.fluidValue(15px, 30px, 320px, 1920px);

  .container {
    padding-inline: globalFunctions.fluidValue(20px, 35px, 320px, 1920px);
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include globalMixins.max-width(tablet) {
      display: grid;
      grid-template-columns: 32px 1fr 32px;
    }
  }

  &__burger {
    display: none;
    @include globalMixins.max-width(tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
    }
  }

  &__logo-wrapper {
    @include globalMixins.max-width(tablet) {
      display: flex;
      justify-content: center;
    }
  }

  &__logo {
    width: globalFunctions.fluidValue(34px, 42px, 320px, 1920px);
    height: globalFunctions.fluidValue(40px, 50px, 320px, 1920px);
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 30px;

    @include globalMixins.max-width(tablet) {
      justify-content: flex-end;

      a:not(.header__cart) {
        display: none;
      }
    }
  }

  &__quiz-link {
    border-radius: 100px;
    background: globalVariables.$main-orange;
    border: 1px solid globalVariables.$main-orange;
    font-family: globalVariables.$second-family;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #fff;
    padding: 15px 30px;
    transition:
      background 0.4s ease-in,
      color 0.4s ease-in;

    @include globalMixins.hover {
      background: 0 0;
      color: globalVariables.$main-orange;
    }
  }
}
