.changePassword {
  &__title {
    font-family: globalVariables.$second-family;
    font-weight: 500;
    font-size: globalFunctions.fluidValue(24px, 36px, 320px, 1800px);
    margin-bottom: globalFunctions.fluidValue(30px, 40px, 320px, 1800px);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 13px;
    @include globalMixins.max-width(laptop) {
      align-items: center;
      gap: 8px;
    }
  }

  .changePassword__label {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .changePassword__submitBtn {
    width: globalFunctions.fluidValue(280px, 154px, 320px, 1800px);
    height: 50px;
    background: #c3bdb6;
    cursor: not-allowed;
    border: 1px solid transparent;
    font-size: 16px;

    &:disabled:hover {
      background: #c3bdb6;
      opacity: 1;
      cursor: not-allowed;
    }

    &_active {
      background: globalVariables.$main-orange;
      cursor: pointer;
    }
  }
}
