.profilePage {
  padding: 160px 0 100px;
  @include globalMixins.max-width(laptop) {
    padding: 120px 0 60px;
  }

  &__wrapper {
    display: flex;
    gap: 140px;

    @include globalMixins.max-width(laptop) {
      gap: 24px;
    }
    @include globalMixins.max-width(tablet) {
      display: block;
    }
  }

  &__sidebar {
    width: 217px;
    flex-shrink: 0;
    margin-top: -9px;

    @include globalMixins.max-width(tablet) {
      display: none;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      flex-direction: row;
      overflow-x: auto;
      padding-bottom: 8px;
      gap: 20px;
      border-bottom: 1px solid #e0e0e0;
    }
  }

  &__navLink {
    font-family: globalVariables.$second-family;
    font-size: 22px;
    line-height: 3.2;
    text-align: left;
    transition: color 0.4s ease;

    &_active {
      font-weight: 700;
    }
  }

  &__logoutBtn {
    color: globalVariables.$red;
  }

  &__content {
    flex-grow: 1;
  }
}
