.cartModal {
  display: flex;
  flex-direction: column;
  max-width: 500px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 39px 38px 39px 30px;
    border-bottom: 1px solid rgba(#000, 0.07);

    @include globalMixins.max-width(tablet) {
      padding: 23px 27px 22px 20px;
    }
  }

  &__title {
    font-family: globalVariables.$second-family;
    font-weight: 500;
    font-size: globalFunctions.fluidValue(20px, 26px, 320px, 1800px);
  }

  &__closeBtn {
    display: flex;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    padding: 30px;
    @include globalMixins.max-width(tablet) {
      padding: 20px;
    }
  }

  &__emptyState {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include globalMixins.max-width(tablet) {
      padding: 66px 40px;
    }
  }

  &__emptyIcon {
    color: #faf8f6;
    max-width: 100%;
    height: auto;
  }

  &__emptyText {
    position: absolute;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.75;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include globalMixins.max-width(tablet) {
      gap: 20px;
    }
  }

  &__footer {
    padding: 30px;
    background: #fff;

    @include globalMixins.max-width(tablet) {
      padding: 15px 20px;
    }
  }

  &__checkoutBtn {
    width: 100%;
    background-color: globalVariables.$main-orange;
    color: #fff;
    border-radius: 100px;
    padding: 20px 0;
    font-family: globalVariables.$second-family;
    font-weight: 700;
    font-size: globalFunctions.fluidValue(16px, 20px, 320px, 1800px);
    text-align: center;
    color: #fff;
    transition: background-color 0.4s ease;

    @include globalMixins.hover {
      background-color: #e26941;
    }

    @include globalMixins.max-width(tablet) {
      padding: 18px 0;
    }
  }
}
