.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 0 80px;
  @include globalMixins.max-width(tablet) {
    padding: 15px 0;
  }

  &__link {
    display: inline-block;
    justify-content: flex-start;
    align-items: center;
  }
}
