.quizLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-family: globalVariables.$second-family;
  font-weight: 700;
  text-align: center;
  color: #fff;
  transition:
    background 0.4s ease-in,
    color 0.4s ease-in;
}

.primary {
  background: globalVariables.$main-orange;
  border: 1px solid globalVariables.$main-orange;

  @include globalMixins.hover {
    background: transparent;
    color: globalVariables.$main-orange;
  }
}

.secondary {
  background: #6e5ddc;
  border: 1px solid #6e5ddc;

  @include globalMixins.hover {
    background: transparent;
    color: #6e5ddc;
  }
}

.md {
  padding: 15px 30px;
  font-size: 16px;
}

.lg {
  width: globalFunctions.fluidValue(154px, 260px, 320px, 1800px);
  height: globalFunctions.fluidValue(50px, 74px, 320px, 1800px);
  font-size: globalFunctions.fluidValue(16px, 20px, 320px, 1800px);
  line-height: 1.63;
}
