.subscriptions {
  &__title {
    font-family: globalVariables.$second-family;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: globalFunctions.fluidValue(15px, 20px, 320px, 1800px);
  }

  &__card {
    display: flex;
    align-items: center;
    gap: globalFunctions.fluidValue(20px, 30px, 320px, 1800px);
    border-radius: 16px;
    background: #faf8f6;
    padding: 30px 40px;
    @include globalMixins.max-width(laptop) {
      flex-direction: column;
      padding: 20px;
    }
  }

  &__imageWrapper {
    border-radius: 8px;
    padding: 30px 0;
    @include globalMixins.max-width(laptop) {
      padding: 10px 60px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  }

  &__category {
    font-weight: 600;
    font-size: globalFunctions.fluidValue(12px, 14px, 320px, 1800px);
    margin-bottom: 5px;
  }

  &__price {
    font-weight: 600;
    font-size: globalFunctions.fluidValue(16px, 18px, 320px, 1800px);
  }

  &__name {
    font-family: globalVariables.$second-family;
    font-size: globalFunctions.fluidValue(16px, 20px, 320px, 1800px);
    flex-grow: 1;
    margin-bottom: 25px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    @include globalMixins.max-width(laptop) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__deliveryInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
    @include globalMixins.max-width(laptop) {
      margin-bottom: 20px;
    }
  }

  &__text {
    font-size: globalFunctions.fluidValue(12px, 14px, 320px, 1800px);
    color: rgba(0, 0, 0, 0.5);
  }

  &__deliveryDate {
    font-size: 16px;
  }

  &__unsubscribeBtn {
    height: 50px;
    width: globalFunctions.fluidValue(240px, 164px, 320px, 1800px);
    border-radius: 100px;
    border: 2px solid rgba(211, 45, 44, 0.2);
    background-color: transparent;
    font-family: globalVariables.$second-family;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: globalVariables.$red;
    transition:
      background-color 0.4s ease-in-out,
      color 0.4s ease-in-out,
      border-color 0.4s ease-in-out;

    @include globalMixins.hover {
      background-color: globalVariables.$red;
      color: #fff;
      border-color: globalVariables.$red;
    }
  }
}
