.detailsPage {
  padding-bottom: 100px;
  @include globalMixins.max-width(laptop) {
    padding-bottom: 120px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 100vh;
    @include globalMixins.max-width(laptop) {
      flex-direction: column;
    }
  }

  &__content {
    padding: 0 202px 130px 135px;
    margin-top: 45px;
    width: 50%;

    @include globalMixins.max-width(desktop-sm) {
      padding: 0 50px 130px 50px;
    }
    @include globalMixins.max-width(laptop) {
      width: 100%;
      padding: 0 20px;
      margin-top: 40px;
    }
  }

  &__backLink {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    z-index: 1000;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 94px;
    width: 124px;
    @include globalMixins.max-width(laptop) {
      display: none;
    }
  }

  &__category {
    font-weight: 600;
    font-size: globalFunctions.fluidValue(14px, 16px, 320px, 1800px);
    margin-bottom: 13px;
  }

  &__title {
    font-family: globalVariables.$second-family;
    font-weight: 500;
    font-size: globalFunctions.fluidValue(24px, 40px, 320px, 1800px);
    padding-bottom: 40px;
    border-bottom: 1px solid #f2f2f2;
  }
}
