.detailsPage {
  padding-bottom: 100px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 100vh;
  }

  &__content {
    padding: 0 202px 130px 135px;
    margin-top: 45px;
    width: 50%;
  }

  &__backLink {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    z-index: 1000;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 94px;
  }

  &__category {
    font-weight: 600;
    font-size: globalFunctions.fluidValue(14px, 16px, 320px, 1800px);
    margin-bottom: 13px;
  }

  &__title {
    font-family: globalVariables.$second-family;
    font-weight: 500;
    font-size: globalFunctions.fluidValue(24px, 40px, 320px, 1800px);
    padding-bottom: 40px;
    border-bottom: 1px solid red;
  }
}
